body{
    background-image:url("bg1_coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

nav{
    width: 100%;
    height: 90px;
    line-height: 80px;
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#523A28,#29190E);
}

nav .logo p{
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
}

nav li a:hover{
    color: #D0B49F;
    transition: all 0.4s ease 0s;

}

nav div p{
    padding: 0px;
}

